@page "/"
    <SfGrid DataSource="@Employees" AllowTextWrap="true"
            GridLines="GridLine.Default">
        @*Add QueryCellInfo="CustomizeCell" in below tag to customie the cell*@
        <GridEvents TValue="Employee"
                    RowDataBound="CustomizeRow">
        </GridEvents>
        @*Uncomment below code to wrap only the cell content*@
        @*<GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>*@
        <GridColumns>
            <GridColumn Field="EmployeeID"
                        HeaderText="Employee ID"
                        TextAlign="TextAlign.Right"
                        Width="80"
                        CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-attr" }})">
            </GridColumn>
            <GridColumn Field="FirstName"
                        HeaderText="<span>First Name</span>"
                        Width="120"
                        DisableHtmlEncode="false">
            </GridColumn>
            <GridColumn Field="Title"
                        HeaderText="Title"
                        Width="120">
            </GridColumn>
            <GridColumn Field="HireDate"
                        HeaderText="Hire Date"
                        Format="d"
                        TextAlign="TextAlign.Right"
                        Width="90">
            </GridColumn>
            <GridColumn Field="Address"
                        HeaderText="Employee Address"
                        Width="90"
                        ClipMode="ClipMode.EllipsisWithTooltip">
            </GridColumn>
            <GridColumn Field="Email"
                        HeaderText="Employee Email"
                        Width="140"
                        ClipMode="ClipMode.Clip">
            </GridColumn>
        </GridColumns>
    </SfGrid>
@code{
    public List<Employee> Employees { get; set; }

    protected override void OnInitialized()
    {
        Employees = Employee.GetAllRecords();
    }

    public void CustomizeCell(QueryCellInfoEventArgs<Employee> args)
    {
        if(args.Column.Field == "Title")
        {
            if (args.Data.Title.StartsWith("Sales"))
                args.Cell.AddClass(new string[] { "e-sales" });
            else
                args.Cell.AddClass(new string[] { "e-others" });
        }
    }

    public void CustomizeRow(RowDataBoundEventArgs<Employee> args)
    {
        if (args.Data.Title.StartsWith("Sales"))
            args.Row.AddClass(new string[] { "e-sales" });
        else
            args.Row.AddClass(new string[] { "e-others" });
    }
}

<style>
    .e-sales{
        background-color: aqua;
    }

    .e-others{
        background-color: bisque;
    }

    .e-attr{
        background-color: aquamarine
    }
</style>